/* Select -> Siblings or previous siblings */

/* example 1   */
/* + is used for target pervious siblings */
/* ~ used to select all the subsequent siblings */
label:has(+ input:checked) {
  /* Here it will target label and line through if it is checked */
  color: green;
  text-decoration: line-through;
}

/* ex 2 */
/* <li> AA </li> */
/* <li class="current"> AA </li> */

/* 1st way */
li:has(~ .current)::after {
  content: "/";
  margin-inline-start: 10px;
}
/* 2nd way without current */
li:has(~ li:not(a))::after {
  content: "/";
  margin-inline-start: 10px;
}

/* example 3 (transform effect like on hover its transform and popup)*/
li:has(+ li + li:hover) {
  transform: scaleY(1.1);
}
li:has(+ li:hover) {
  transform: scaleY(1.2);
}
li:hover {
  transform: scaleY(1.3);
}
li:hover + li {
  transform: scaleY(1.2);
}
li:hover + li + li {
  transform: scaleY(1.1);
}
